{# Widgets #}

{% block grid_column_text %}
{% spaceless %}
    <span>{{ value }}</span>
{% endspaceless %}
{% endblock grid_column_text %}

{% block grid_column_date %}
{% spaceless %}
    <span>{{ value|date(format) }}</span>
{% endspaceless %}
{% endblock grid_column_date %}


{# head #}

{% block grid_head %}
{% spaceless %}
    <thead>
        <tr>
            {{ block('head_columns') }}
        </tr>
    </thead>
{% endspaceless %}
{% endblock grid_head %}

{% block head_columns %}
{% spaceless %}
    {% for column in dataGrid.columns %}
        {{ grid_column_head(column) }}
    {% endfor %}
{% endspaceless %}
{% endblock head_columns %}

{% block grid_column_head %}
{% spaceless %}
    <th>
        {{ label|trans }}
    </th>
{% endspaceless %}
{% endblock grid_column_head %}


{# body #}

{% block grid_body %}
{% spaceless %}
    {% for rowIndex, row in data %}
        {{ block('grid_row') }}
    {% endfor %}
{% endspaceless %}
{% endblock grid_body %}

{% block grid_row %}
{% spaceless %}
    <tr>
        {% for column in dataGrid.columns %}
            {{ block('grid_column') }}
        {% endfor %}
    </tr>
{% endspaceless %}
{% endblock grid_row %}

{% block grid_column %}
{% spaceless %}
    <td>
        {{ grid_column_body(column, {'index': rowIndex}) }}
    </td>
{% endspaceless %}
{% endblock grid_column %}


{# foot #}
{% block grid_foot %}
{% spaceless %}
    <tfoot>
        {# TODO #}
    </tfoot>
{% endspaceless %}
{% endblock grid_foot %}