{# Widgets #}

{% block grid_column_text %}
{% spaceless %}
    <span>{{ value }}</span>
{% endspaceless %}
{% endblock grid_column_text %}


{# head #}

{% block grid_head %}
{% spaceless %}
    <thead>
        <tr>
            {{ block('head_columns') }}
        </tr>
    </thead>
{% endspaceless %}
{% endblock grid_head %}

{% block head_columns %}
{% spaceless %}
    {% for column in dataGrid.columns %}
        {{ grid_column_head(column) }}
    {% endfor %}
{% endspaceless %}
{% endblock head_columns %}

{% block grid_column_head %}
{% spaceless %}
    <th>
        {{ name|trans }}
    </th>
{% endspaceless %}
{% endblock grid_column_head %}


{# Rows #}

{% block grid_rows %}
{% spaceless %}
    {% for row in data %}
        {{ grid_row(row) }}
    {% endfor %}
{% endspaceless %}
{% endblock grid_rows %}

{% block grid_row %}
{% spaceless %}
    <tr>
        {{ block('row_columns') }}
    </tr>
{% endspaceless %}
{% endblock grid_row %}

{% block row_columns %}
{% spaceless %}
    {% for column in dataGrid.columns %}
        {{ block('grid_column') }}
    {% endfor %}
{% endspaceless %}
{% endblock row_columns %}

{% block grid_column %}
{% spaceless %}
    <td>
        {{ grid_column_body(column) }}
    </td>
{% endspaceless %}
{% endblock grid_column %}